Repository berntmartin/hal_ros_control: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, clang-format

black:
  name: Run black code formatter
  description: This hook formats Python code.
  entry: env LC_ALL=C.UTF-8 black -q
  language: system
  args:
  - -S
  - -l
  - '80'

clang-format:
  name: Run clang-format
  description: Clang C/C++ code formatter.
  entry: clang-format -i
  args:
  - -style=file
  language: system

Add underscore to class variables in controller
  interruptible_joint_trajectory_controller/include/interruptible_joint_trajectory_controller/interruptible_joint_trajectory_controller.h
Due: clang-format

Add CMake & python to build and load HAL comps from other packages
  hal_hw_interface/CMakeLists.txt
  hal_hw_interface/cmake/FindHAL.cmake
  hal_hw_interface/cmake/UseHALComp.cmake
  hal_hw_interface/cmake/hal_hw_interface-extras.cmake.develspace.in
  hal_hw_interface/cmake/hal_hw_interface-extras.cmake.installspace.in
  hal_hw_interface/package.xml
  hal_hw_interface/src/hal_hw_interface/__init__.py
  hal_hw_interface/src/hal_hw_interface/loadrt_local.py
  interruptible_joint_trajectory_controller/CMakeLists.txt
  interruptible_joint_trajectory_controller/package.xml
  machinekit_interfaces/CMakeLists.txt
Due: black

Template HAL pin access in controller
  hal_hw_interface/include/hal_hw_interface/hal_hw_interface.h
  hal_hw_interface/src/hal_hw_interface.cpp
  interruptible_joint_trajectory_controller/include/interruptible_joint_trajectory_controller/interruptible_joint_trajectory_controller.h
  machinekit_interfaces/include/machinekit_interfaces/generic_interface.h
  machinekit_interfaces/include/machinekit_interfaces/hal_pin_interface.h
Due: clang-format

Template hardware resource claims in controller
  interruptible_joint_trajectory_controller/include/interruptible_joint_trajectory_controller/interruptible_joint_trajectory_controller.h
Due: clang-format

Add (e)stop pins to hal_hw_interface
  hal_hw_interface/include/hal_hw_interface/hal_hw_interface.h
  hal_hw_interface/src/hal_hw_interface.cpp
Due: clang-format

Add (e)stop event handling to controller
  interruptible_joint_trajectory_controller/include/interruptible_joint_trajectory_controller/interruptible_joint_trajectory_controller.h
Due: clang-format

Add HARDWARE_(E)STOP_EVENT enums to stop_event_msgs
  stop_event_msgs/srv/GetJointTrajectoryErrorContext.srv
Due: none

Path conditions:
  black: any of: \.py$
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
